accelerate==1.0.1
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.0
asttokens==2.2.1
async-timeout==4.0.3
attrs==24.2.0
backcall==0.2.0
bcrypt==4.2.0
bitsandbytes==0.44.1
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.1.1
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
demjson==2.2.4
diffusers==0.30.3
distro==1.9.0
exceptiongroup==1.2.2
executing==1.2.0
fairscale==0.4.13
fastapi==0.115.0
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.9.0
gradio==4.44.1
gradio_client==1.3.0
-e git+https://github.com/IDEA-Research/Grounded-Segment-Anything@126abe633ffe333e16e4a0a4e946bc1003caf757#egg=groundingdino&subdirectory=test\groundingdino
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.2
humanfriendly==10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
inquirerpy==0.3.4
ipykernel==6.22.0
ipython==8.11.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
litellm==1.49.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
nbformat==5.10.4
nest-asyncio==1.5.6
networkx==3.1
nltk==3.9.1
numpy==1.23.2
ollama==0.3.3
onnxruntime==1.19.2
open3d==0.18.0
openai==1.51.2
opencv-contrib-python==4.8.1.78
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
orjson==3.10.7
packaging==24.1
pandas==2.0.3
paramiko==3.5.0
parso==0.8.3
pfzy==0.3.4
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
prompt-toolkit==3.0.38
propcache==0.2.0
protobuf==5.28.2
psutil==5.9.4
pure-eval==0.2.2
pycocotools==2.0.7
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.14.0
PyNaCl==1.5.0
pyparsing==3.1.4
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2024.2
pywin32==305
PyYAML==6.0.2
pyzmq==25.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
retrying==1.3.4
rich==13.9.2
rpds-py==0.20.0
ruff==0.6.9
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.0
scp==0.15.0
scpclient==0.7
segment_anything @ file:///D:/Grounded-Segment-Anything/segment_anything
semantic-version==2.10.0
sentence-transformers==3.2.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
stack-data==0.6.2
starlette==0.38.6
supervision==0.21.0
sympy==1.13.3
tenacity==9.0.0
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.7.0
timm==1.0.9
tokenizers==0.20.0
tomli==2.0.2
tomlkit==0.12.0
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers@e878eaa9fc4da9cec1c74ae962e89092b6832db8
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.31.1
wcwidth==0.2.6
websockets==12.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
yapf==0.40.2
yarl==1.14.0
zipp==3.20.2
